.form {
    display: flex;
    flex-direction: column;
    width: 480px;
    border-radius: 20px;
    padding: 25px 60px 80px;
}

.title {
    font-size: 48px;
    line-height: 68px;
    font-weight: 600;
    margin: 0 0 20px;
}

.par {
    font-size: 20px;
    line-height: 25px;
    margin: 0 0 30px;
}

.label {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    display: flex;
    flex-direction: column;
}

.label + .label {
    margin: 30px 0 0;
}

.input {
    border: 1px solid #7AABBC;
    border-radius: 10px;
    font-size: 18px;
    padding: 15px 5px;
}

.submitBtn {
    background-color: #093360;
    color: #FFF;
    margin: 30px 0 15px;
}

.cancelBtn {
    background-color: #FFF;
    color: #17416D;
    border: 1px solid #17416D;
}