.eventCardWrapper {
    border-radius: 25px;
    background-color: #FFF;
    padding: 10px;
    width: 480px;
    height: 350px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    overflow: hidden;
}

.bgImage {
    max-width: 150px;
    aspect-ratio: 1;
    border-radius: 100%;
    object-fit: cover;
}

.infoWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 480px;
    height: 350px;
    box-sizing: border-box;
}

.eventTitle {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

.dateTimePar {
    font-size: 18px;
    margin: 10px 0 0;
}

.detailsLink {
    color: #FFF;
    background-color: #0E3763;
    border-radius: 5px;
    font-weight: 700;
    padding: 10px 15px;
    margin: 10px 0 0;
}

.dateSelect {
    display: flex;
    flex-direction: row;
}