.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 128px 0 0;
}

.imagesWrapper {
  display: flex;
  flex-direction: column;
  max-width: 25%;
  gap: 50px;
}

.flexComponentsWrapper {
    display: flex;
    justify-content: center;
    gap: 100px;
}